html,
body {
 height: 100%;
 overflow-x: hidden;
}

body {
    background-color: #000;
}   

nav {
 position: absolute;
 top: 1rem;
 right: 1rem;
 z-index: 1;
}

img {
 display: block;
 width: auto;
 height: 100vh;
 margin: auto;
}

h1 {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    color: #fff;
}

#bottom {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#bottom span {
    cursor: pointer;
}

.carousel-inner .carousel-item {
    transition: -webkit-transform 1.5s ease;
    transition: transform 1.5s ease;
    transition: transform 1.5s ease, -webkit-transform 1.5s ease;
}
